.Banner-container {
  background-color: #4c029b;
  text-align: center;
  padding-bottom: 10px;
  width: 80%;
  margin: 0 auto; /* 가운데 정렬 */
}

.Banner-top {
  display: flex;
}

.Banner-Link {
  margin-top: 10px;
}

.Banner-Link a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 30px; /* 좌우 간격을 20px로 설정 */
}

.Banner-Link a:hover {
  color: #007bff; /* 링크에 마우스를 올렸을 때 색상 변경 */
}
